---
const stats = [
  {
    name: 'Años',
    value: '9',
  },
  {
    name: 'Expertos',
    value: '15',
  },
  {
    name: 'Casos',
    value: '122',
  },
  {
    name: 'Reconocimientos',
    value: '9',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="https://images.pexels.com/photos/8112175/pexels-photo-8112175.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Nuestra misión</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              En nuestro estudio legal, nos dedicamos a trascender las expectativas al proporcionar servicios jurídicos excepcionales y personalizados en las áreas de sucesiones a.r.t y accidentes de tránsito. Nuestra misión fundamental es ser el faro que guía a aquellos que enfrentan momentos legales desafiantes, ofreciéndoles no solo experiencia legal, sino también apoyo emocional y comprensión.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Nos comprometemos a defender los derechos de nuestros clientes con integridad y pasión, priorizando la justicia y la equidad en cada caso que abordamos. Creemos que la ley es una herramienta poderosa para el cambio positivo, y nuestra misión es utilizarla para mejorar la vida de aquellos a quienes servimos.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Buscamos no solo resolver problemas legales, sino también aliviar el peso emocional que conllevan. En casos de sucesiones, nos esforzamos por facilitar el proceso, brindando orientación comprensiva en momentos difíciles. Para casos de A.R.T y accidentes, nos convertimos en defensores incansables, asegurando que cada cliente reciba la atención y compensación que merece.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
